body {
  color: var(--pure-white);
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

.cw {
  width: 327px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .cw {
    width: 1110px;
  }
}
